{
  "name": "local.citename.host",
  "description": "CiteName native host",
  "path": "__HOST_PATH__",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://lkepgfhefjolkpdlgemcnikdbhlhaoei/"
  ]
}
